* {
  margin: 0;
  pad: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Inconsolata";
  src: url("assets/fonts/Inconsolata-VariableFont_wdth\,wght.ttf") format("ttf");
  font-weight: 400; /* Normal weight */
  font-style: normal;
}
